<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated postgres -->
      <package
            uri="som.umltonosql.metamodel.postgres"
            class="postgres.PostgresPackage"
            genModel="model/postgres.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated relationaldb -->
      <package
            uri="som.umltonosql.metamodel.relationaldb"
            class="relationaldb.RelationaldbPackage"
            genModel="model/relationaldb.genmodel"/>
   </extension>

</plugin>
