<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated region -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="region.presentation.RegionModelWizardID"
            name="%_UI_RegionModelWizard_label"
            class="region.presentation.RegionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RegionModelFile.gif">
         <description>%_UI_RegionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated region -->
      <editor
            id="region.presentation.RegionEditorID"
            name="%_UI_RegionEditor_label"
            icon="icons/full/obj16/RegionModelFile.gif"
            extensions="region"
            class="region.presentation.RegionEditor"
            contributorClass="region.presentation.RegionActionBarContributor">
      </editor>
   </extension>

</plugin>
